---
title: РосВояж
---
extends layouts/_layout

block content
	//BEGIN header
	+b.HEADER.header
		+e.top-line
			+e.container.container
				+b.hamburger.js-hamburger
					+e.line
					+e.line
					+e.line
				+b.nav.header__nav.js-nav
					+e.UL.list
						+e.LI.list-item
							+e.A.list-link._main(href='#!') Теплоход Алексей Толстой
						+e.LI.list-item
							+e.A.list-link(href='#!') Сотрудничество
						+e.LI.list-item
							+e.A.list-link(href='#!') Новости
						+e.LI.list-item
							+e.A.list-link(href='#!') Контакты

		+e.screen._sm
			+e.screen-pic(style='background-image: url(img/bg/entry-screen_bg.jpg)')
			+e.screen-container.container
				+b.A(href='#!').logo.header__logo
					+e.IMG(src='img/logo.png').img
				+b.menu.header__menu
					+e.UL.list.js-menu
						+e.LI.list-item.is-active
							+e.A.list-link(href='#!') Речные круизы
						+e.LI.list-item
							+e.A.list-link(href='#!') Туры по России и СНГ
						+e.LI.list-item
							+e.A.list-link(href='#!') Международные туры
						+e.LI.line.js-moving-line
				+b.call-me.header__call-me
					+e.A(href='tel:88463327555').number 8 (846) 332-75-55
					+e.BUTTON(type='button').btn.link-decor
						+e.SPAN Перезвоните мне
				+e.A(href='#!').pick-btn.btn Подобрать тур

			+e.screen-title._lg Комфортабельный 4-х палубный теплоход
	//END header
	//- begin features
	-
		var features = {
		classMod: '_default',
		title: true
		};
		var featuresList = [{
		descr: 'Полная модернизация теплохода произведена',
		descrBottomBold: 'в 2006 году',
		picMod: 'modern'
		},
		{
		descr: 'Санузел, кондиционер, холодильник',
		descrBottomBold: 'в каждом номере',
		picMod: 'refrigerator'
		},
		{
		descr: 'Капитальный ремонт был произведён',
		descrBottomBold: 'в 2013 году',
		picMod: 'repair'
		},
		{
		descr: 'Теплоход спроектирован и собран',
		descrBottomBold: 'в Германии',
		picMod: 'ship'
		}];
	include components/_features
	//- end features

	// begin about-text
	+b.SECTION.about-text._default
		+e.container.container
			+e.H3.title.title-md._font О теплоходе “Алексей Толстой”
			+e.P Оснащён современным навигационным оборудованием. Прошёл полную модернизацию в 2006 году. К услугам туристов на борту теплохода каюты категорий Люкс, ПолуЛюкс, Стандарт и Эконом. Все каюты оборудованы отдельным санузлом (душ, туалет, умывальник), кондиционером, холодильником, телефоном для внутренней связи,  электророзеткой на 220V, современной мебелью.
			+e.P Пассажирский четырёхпалубный теплоход «Алексей Толстой» (пр 588-К.) построен насудоверфи Mathias Thesen Werft Wismar", г.Висмар, Германия. Прежнее название "Николай Гастелло". Полная модернизация - 2006 год, последний капитальный ремонт - 2013 год.
			+e.P На теплоходе установлена современная система кондиционирования, а так же спутниковое телевидение. Ресторан на средней палубе теплохода рассчитан на 120 мест и ресторан на главной палубе на 36 мест. На борту имеется диско-бар, бар "1001", конференц-зал на 150 мест, детская комната,  мед.пункт, терминал оплаты услуг сотовой связи.
			+e.P Туристическая компания «РосВояж» в навигацию 2017 предлагает речные круизы на комфортабельном теплоходе «Алексей Толстой» с отправлением из Самары, Казани,Саратова и Волгограда. Внимание,в расписании и стоимости путёвок возможны изменения. Если у Вас возникли вопросы, связанные с речными круизами или морскими круизами, Вы можете задать их по телефонам
				= ' '
				+e.A(href='tel:+78463327555') +7(846)332-75-55,
				= ' '
				+e.A(href='tel:+78463321702') +7(846)332-17-02,
				= ' '
				| или воспользоваться системой online-бронирования круизов.
	// end about-text
	-
		var awardsClass = '_default'
	include components/_awards

	include components/_real-time

	//-begin why-us
	-
		var whyUs = {
		classMod: '_entry',
		title: 'Почему я выбираю отдых на теплоходе "Алексей Толстой'
		};
		var whyUsList = [{
		text: 'Комфортабельный 4-х палубный теплоход',
		pic: '1'},{
		text: 'Тематические рейсы и зажигательные шоу-программы',
		pic: '2'},{
		text: 'Уютные каюты',
		pic: '3'},{
		text: 'Выгодные цены - туры от собственника теплохода',
		pic: '4'},{
		text: 'Отличный сервис',
		pic: '5'},{
		text: 'Интересная и необычная кухня',
		smallText: '(более 10 видов: русская, грузинская, украинская, немецкая, японская, узбекская и.тд., на заказ)',
		pic: '6'
		}];
	include components/_why-us
	//-end why-us

	//- testimonials
	-
		var testimonialsClass = '_has-bg';
		testimonialsSlider = [{
		text: '“Сегодня прилетели из Сочи. Отдыхали в горном курорте. Отдохнули отлично!!!! Все было организовано четко и слажено: перелет, трансфер, заселение в отель. Обязательно воспользуюсь услугами снова... ”'
		},{
		text: '“Отличное расположение, в центре поселка - везде близко, пляж рядом... Отзывчивый персонал, говорят на английском. Номер большой”'
		},{
		text: '"Отличное расположение, в центре поселка - везде близко, пляж рядом... Отзывчивый персонал, говорят на английском. Номер большой"'
		},{
		text: '“ Сегодня прилетели из Сочи. Отдыхали в горном курорте. Отдохнули отлично!!!! Все было организовано четко и слажено: перелет, трансфер, заселение в отель. Обязательно воспользуюсь услугами снова... ”'
		},{
		text: '“Отличное расположение, в центре поселка - везде близко, пляж рядом... Отзывчивый персонал, говорят на английском. Номер большой”'
		}];
	include components/_testimonials

	//begin about
	+b.SECTION.about(class= aboutClass ? aboutClass : '')
		+e.map-wrap
			+e.map#js-about-map
			+e.ADDRESS.address
				+e.address-title Ждем Вас у нас в офисе
				+e.UL.address-list
					+e.address-str ул. Алексея Толстого, д. 116 «В»
						+e.A(href='tel:+78463321702') +7 (846) 332-17-02, 332-75-55
					+e.address-str ул. Максима Горького 82 (Речной вокзал)
						+e.A(href='tel:+78462229034') +7 (846) 222-90-34
					+e.address-str ул. Стара-Загора, д.202 (ТЦ “Колизей”)
						+e.A(href='+78469256682') +7 (846) 925-66-82
					+e.address-str ул.Самарская, д.268 (напротив “McDonalds”)
						+e.A(href='+78462424922') +7 (846) 242-49-22
	//end about
