if about ? about : about = []

//begin about
+b.SECTION.about(class= aboutClass ? aboutClass : '')
	+e.container._sm.container
		+e.H4.title Туристическая компания «РосВояж» предлагает вам совершить незабываемое путешествие, заказав морской круиз или речной круиз по Волге из Самары.
		+e.P.descr ТК «РосВояж» г. Самара является официальным туроператором теплохода «Алексей Толстой». Наши сотрудники сами формируют маршруты речных круизов по Волге, проводят весь цикл технического обслуживания судна и комплектования его экипажем, а также готовят для вас экскурсионные программы в городах следования и развлекательные программы на борту судна, тем самым предлагая круизным туристам безопасный и качественный отдых!
	+e.map-wrap
		+e.map#js-about-map
		+e.ADDRESS.address
			+e.address-title Ждем Вас у нас в офисе
			+e.UL.address-list
				+e.address-str ул. Алексея Толстого, д. 116 «В»
					+e.A(href='tel:+78463321702') +7 (846) 332-17-02, 332-75-55
				+e.address-str ул. Максима Горького 82 (Речной вокзал)
					+e.A(href='tel:+78462229034') +7 (846) 222-90-34
				+e.address-str ул. Стара-Загора, д.202 (ТЦ “Колизей”)
					+e.A(href='+78469256682') +7 (846) 925-66-82
				+e.address-str ул.Самарская, д.268 (напротив “McDonalds”)
					+e.A(href='+78462424922') +7 (846) 242-49-22
//end about
