if awards ? awards : awards = []

//begin awards
+b.awards(class= awardsClass ? awardsClass : '')
	+e.container.container
		+b.H3.title-md._font Наши дипломы и награды
		+e.gallery.js-awards-gallery
			+e.gallery-item
				+e.gallery-img(style='background-image: url(img/content/award-1.jpg)')
				+e.A.gallery-zoom(href='img/content/award-1_lg.jpg' data-fancybox='award-gallery')
					+icon('icon-zoom-in', 'awards__gallery-zoom-icon')
			+e.gallery-item
				+e.gallery-img(style='background-image: url(img/content/award-1.jpg)')
				+e.A.gallery-zoom(href='img/content/award-1_lg.jpg' data-fancybox='award-gallery')
					+icon('icon-zoom-in', 'awards__gallery-zoom-icon')
			+e.gallery-item
				+e.gallery-img(style='background-image: url(img/content/award-1.jpg)')
				+e.A.gallery-zoom(href='img/content/award-1_lg.jpg' data-fancybox='award-gallery')
					+icon('icon-zoom-in', 'awards__gallery-zoom-icon')
			+e.gallery-item
				+e.gallery-img(style='background-image: url(img/content/award-1.jpg)')
				+e.A.gallery-zoom(href='img/content/award-1_lg.jpg' data-fancybox='award-gallery')
					+icon('icon-zoom-in', 'awards__gallery-zoom-icon')
			+e.gallery-item
				+e.gallery-img(style='background-image: url(img/content/award-1.jpg)')
				+e.A.gallery-zoom(href='img/content/award-1_lg.jpg' data-fancybox='award-gallery')
					+icon('icon-zoom-in', 'awards__gallery-zoom-icon')
			+e.gallery-item
				+e.gallery-img(style='background-image: url(img/content/award-1.jpg)')
				+e.A.gallery-zoom(href='img/content/award-1_lg.jpg' data-fancybox='award-gallery')
					+icon('icon-zoom-in', 'awards__gallery-zoom-icon')
			+e.gallery-item
				+e.gallery-img(style='background-image: url(img/content/award-1.jpg)')
				+e.A.gallery-zoom(href='img/content/award-1_lg.jpg' data-fancybox='award-gallery')
					+icon('icon-zoom-in', 'awards__gallery-zoom-icon')
			+e.gallery-item
				+e.gallery-img(style='background-image: url(img/content/award-1.jpg)')
				+e.A.gallery-zoom(href='img/content/award-1_lg.jpg' data-fancybox='award-gallery')
					+icon('icon-zoom-in', 'awards__gallery-zoom-icon')
			+e.gallery-item
				+e.gallery-img(style='background-image: url(img/content/award-1.jpg)')
				+e.A.gallery-zoom(href='img/content/award-1_lg.jpg' data-fancybox='award-gallery')
					+icon('icon-zoom-in', 'awards__gallery-zoom-icon')
			+e.gallery-item
				+e.gallery-img(style='background-image: url(img/content/award-1.jpg)')
				+e.A.gallery-zoom(href='img/content/award-1_lg.jpg' data-fancybox='award-gallery')
					+icon('icon-zoom-in', 'awards__gallery-zoom-icon')
			+e.gallery-item
				+e.gallery-img(style='background-image: url(img/content/award-1.jpg)')
				+e.A.gallery-zoom(href='img/content/award-1_lg.jpg' data-fancybox='award-gallery')
					+icon('icon-zoom-in', 'awards__gallery-zoom-icon')
			+e.gallery-item
				+e.gallery-img(style='background-image: url(img/content/award-1.jpg)')
				+e.A.gallery-zoom(href='img/content/award-1_lg.jpg' data-fancybox='award-gallery')
					+icon('icon-zoom-in', 'awards__gallery-zoom-icon')

//end awards