if features ? features : features = []

//begin features
+b.features(class= features.classMod ? features.classMod : '')
	+e.container.container
		if features.title
			+e.title.H3.title-md._font Ваш комфортный отдых - Наша забота
		+e.row
			mixin featuresItem(item)
				+e.item
					+e.item-pic(class='_' + item.picMod)
					+e.P.item-descr
							if item.descrTopBold
								+e.STRONG= item.descrTopBold
							+e.SPAN= item.descr
							if item.descrBottomBold
								+e.STRONG= item.descrBottomBold
			each item in featuresList
				+featuresItem(item)
//end features