//BEGIN header
+b.HEADER.header
	+e.top-line
		+e.container.container
			+b.hamburger.js-hamburger
				+e.line
				+e.line
				+e.line
			+b.nav.header__nav.js-nav
				+e.UL.list
					+e.LI.list-item
						+e.A.list-link(href='#!') Теплоход Алексей Толстой
					+e.LI.list-item
						+e.A.list-link(href='#!') Аренда теплохода
					+e.LI.list-item
						+e.A.list-link(href='#!') Речные круизы
					+e.LI.list-item
						+e.A.list-link(href='#!') Сотрудничество
					+e.LI.list-item
						+e.A.list-link(href='#!') Новости
					+e.LI.list-item
						+e.A.list-link(href='#!') Контакты
			+b.dropdown.js-dropdown.header__location
				+e.visible.js-dropdown-open
					+e.text Самара
					+icon('icon-down')
					+icon('icon-geo')
				+e.list
					+e.UL
						+e.LI
							+e.A(href='#!') Самара
						+e.LI
							+e.A(href='#!') Москва
						+e.LI
							+e.A(href='#!') Саратов

	+e.screen
		+e.screen-picture(style='background-image: url(img/bg/screen_bg.jpg)')
		+e.screen-container.container
			+b.A(href='#!').logo.header__logo
				+e.IMG(src='img/logo.png').img
			+b.menu.header__menu
				+e.UL.list.js-menu
					+e.LI.list-item.is-active
						+e.A.list-link(href='#!') Круизы
					+e.LI.list-item
						+e.A.list-link(href='#!') Туры по России и СНГ
					+e.LI.list-item
						+e.A.list-link(href='#!') Международные туры
					+e.LI.line.js-moving-line
			+b.call-me.header__call-me
				+e.A(href='tel:88463327555').number 8 (846) 332-75-55
				+e.BUTTON(type='button').btn.link-decor
					+e.SPAN Перезвоните мне
			+e.A(href='#!').pick-btn.btn Подобрать тур
		+e.screen-title
			+e.DIV Европейский сервис
			+e.DIV на 4х палубном теплоходе элитного класса
			+e.DIV Комфортный отдых в городе Самара

//END header
