if realtime ? realtime : realtime = []

//begin realtime
+b.real-time(class= realtimeClass ? realtimeClass : '')
	+e.title.title-md._font “Алексей Толстой” в реальном времени
	+e.map#js-real-time-map
//end realtime