.reserv
	&__container
		max-width: 1182px
		+xs
			max-width: 400px
	&__title
		text-align: center
		margin-bottom: 20px
		+lg
			margin-bottom: 10px
			font-size: 48px
		+sm
			font-size: 42px
		+xs
			font-size: 29px
	&__form-in
		position: relative
		padding: 12px 140px 12px 17px
		background: $white
		border-radius: 3px
		+clr
		+lg
			padding: 6px 140px 6px 17px
		+md
			padding: 6px 115px 6px 4px
		+sm
			padding: 0 135px 6px 0
		+xs
			text-align: center
			padding: 10px
	&__form-field
		position: relative
		float: left
		padding-right: 5px
		+xs
			background: #e6e6e6
			& + &
				margin-top: 5px
		&::after
			position: absolute
			top: -1px
			right: 0
			height: 50px
			width: 1px
			content: ''
			background: #dcdcdc
			+sm
				top: 0
				bottom: -6px
				height: auto
			+xs
				display: none
		&:nth-child(1)
			width: 25.7%
			+sm
				width: 50%
			+xs
				width: 100%
		&:nth-child(2)
			width: 24%
			padding-left: 5px
			+sm
				width: 50%
			+xs
				width: 100%
		&:nth-child(3)
			width: 25%
			+sm
				width: 50%
			+xs
				width: 100%
		&:nth-child(4)
			width: 23.5%
			+sm
				width: 50%
			+xs
				width: 100%
			&::after
				display: none
				+sm
					display: block
				+xs
					display: none
		&_date
			position: relative
			padding: 0 45px 0 35px
			+md
				padding: 0 42px 0 14px
	&__form-field .selectric
		+xs
			background: #e6e6e6
	&__form-input
		width: 100%
		height: 46px
		line-height: 46px
		+f('cr', 15)
		color: #1f1f1f
		+placeholder-color(#1f1f1f)
		+xs
			background: #e6e6e6
	&__form-select
		display: none
		width: 100%
	&__form-date-btn
		position: absolute
		top: 8px
		right: 8px
		+s('calendar')
		background-color: transparent
	&__find-btn
		position: absolute
		right: 0
		top: 0
		bottom: 0
		width: 140px
		border-radius: 0 3px 3px 0
		+md
			width: 128px
		+xs
			position: static
			margin-top: 10px
			width: auto
			border-radius: 3px
		&:active
			box-shadow: inset 0 0 50px darken(#007adb, 5)
	&__more
		margin-top: 10px
		text-align: center
		&-in
			position: relative
			z-index: 1
			max-width: 970px
			margin: -5px auto 0
			padding: 50px 45px 20px
			border-radius: 0 0 3px 3px
			background-color: rgba(#fff, .9)
			font-size: 0
			+sm
				padding: 20px 15px 15px
			+xs
				margin-top: 5px
		&-row
			display: flex
			justify-content: space-between
			text-align: left
			& + &
				margin-top: 10px
				margin-bottom: 25px
			+xs
				flex-wrap: wrap
		&-field
			&_md
				width: percentage(280 / 880)
				+sm
					width: 33%
				+xs
					width: 100%
			&_sm
				width: percentage(230 / 880)
				+sm
					width: 27%
				+xs
					width: 100%
		&-field .selectric
			box-shadow: 0 3px 54px rgba(0, 0, 0, 0.08)
		&-field .selectric .label, .selectric-items li
				font-size: 18px
				+sm
					font-size: 16px
		&-label
			margin-bottom: 5px
			font-size: 18px
			+sm
				font-size: 16px
		&-text
			display: inline-block
			vertical-align: middle
			margin: 0 7px
			font-size: 18px
			+sm
				font-size: 16px
			&:first-child
				margin-left: 0
		&-btn
			padding: 15px 63px
		&-input
			display: inline-block
			vertical-align: middle
			width: 110px
			height: 46px
			line-height: 46px
			+f('cr', 18)
			padding: 0 15px
			border-radius: 3px
			box-shadow: 0 3px 54px rgba(0, 0, 0, 0.08)
			+sm
				width: 90px
				padding: 0 5px
				font-size: 16px
	&__link-decor
		line-height: 1
		color: $white
		font-size: 16px
		+xs
			padding: 5px 10px
			background: #0590ff
			border-radius: 3px
			color: #fff!important
			span
				background: none!important
		&:hover
			color: #22273b
		&:hover span
			background-image: linear-gradient(to right, #22273b 50%, transparent 50%)
		span
			background-image: linear-gradient(to right, rgba(#fff, .6) 50%, transparent 50%)
		
	&_screen
		padding: 120px 0 20px
		+lg
			padding: 50px 0 20px
		+sm
			padding: 35px 0