.icon-arr-sld_l {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arr-sld_r {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-down {
  width: 1.73em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-geo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-gp {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1.08em;
  height: 1em;
  fill: #ffbe05;
}
.icon-tw {
  width: 1em;
  height: 1em;
  fill: #010002;
}
